body {
    background: #0B7A75;
}

.table {
    border: #343a40 solid 2px;
}


form {
    background: #D4D5D5; 
    padding: 5px; 
    margin-bottom: 10px;
}

h6 {
    background: #343a40;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 0px;


}

.jumbotron {
    background-image: url("images/newTrain.png");
    padding: 40px 0px;
}
